body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
    background: linear-gradient(to right,#666fd6, #34b579);
}
h1 {
    text-shadow: 1px 1px #141c72;
}
img {
    border-radius: 50%;
    border: 5px #434fdb solid;
}
footer {
    position:fixed;
    bottom: 0;
    width: 100%;

}
.link {
    color: #141c72;
}
.link:hover {
    color: #070b31
}
.white-txt {
    color: white;
}
#aside {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 10%;
    justify-content: center;
    align-content: center;

}
#grid-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    
}
#links {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 10px;

}

